#box
{
	margin: auto;
	overflow: hidden;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin-top: 50px;
	border-radius: 10px;
	box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
	position: relative;
  top: 01%;
	max-width: 1100px;
}

#box h4
{
 	color: #4B8BBE;
  text-shadow: -1px 0px 0px rgba(0, 0, 0, 0.50);
}
#box h3
{
 	color: #306998;
  text-shadow: -1px 0px 0px rgba(0, 0, 0, 0.50);
}
#box h5
{
 	color:#4B8BBE;
	text-shadow: -1px 0px 0px rgba(0, 0, 0, 0.50);

}
#box  p
{
	margin: 10px 25px;
	font-weight: semi-bold;
	line-height: 150%;
	text-align: justify;
  color: #666;
}

#box img
{
	max-width: 100%;
  height: auto;
}
#span
{
	top: 9%;
}

#boxroll
{
	margin: auto;
	overflow: hidden;

	border: 1px solid rgba(0, 0, 0, 0.15);
	margin-top: 50px;
	border-radius: 10px;
	box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
	position: relative;
  top: 0%;
	max-width: 1100px;
}
