body {
height: 1000px;
margin: 0;
}

header {
position: fixed;
width: 100%;
text-align: center;
font-size: 35px;
height: 90px;
background: #FFE873;
color: #fff;
font-family: 'PT Sans', sans-serif;
transition: all 0.4s ease;
z-index: 1030;
top: 0%;
box-shadow: 0 6px 18px 0 rgba(46, 61, 73, 0.16);
border-radius: 5px;
}
header h1 {
margin: 0;
line-height: 90px;
}
header.sticky {
font-size: 18px;
height: 72px;
background: #FFD43B;
text-align: left;
padding-left: 20px;
}
header.sticky h1 {
margin: 0;
line-height: 72px;
}
