@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
body, figure {
  margin: 0;
  font-family: Istok Web, sans-serif;
  font-weight: 100;
}
div#captioned-gallery {
  width: 100%; overflow: hidden;
}
figure.roll {
  position: relative; width: 500%;
  font-size: 0; animation: 30s slidy infinite;
}
figure.roll figure {
  width: 20%; height: auto;
  display: inline-block;  position: inherit;
}
figure.roll img { width: 100%; max-height: 600px; }
figure.roll figure figcaption {
  position: absolute; bottom: 8px;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem;
}
