

/*

The component will reset button browser styles

*/



.r-button{

--uirButtonBackgroundColor: var(--rButtonBackgroundColor, transparent);
--uirButtonPadding: var(--rButtonPadding, var(--rButtonPaddingTop, 0) var(--rButtonPaddingRight, 0) var(--rButtonPaddingBottom, 0) var(--rButtonPaddingLeft, 0));
--uirButtonBorderWidth: var(--rButtonBorderWidth, 0);
--uirButtonBorderStyle: var(--rButtonBorderWidth, solid);
--uirButtonBorderColor: var(--rButtonBorderColor, currentColor);
--uirButtonFontFamily: var(--rButtonFontFamily, inherit);
--uirButtonFontSize: var(--rButtonFontSize,  inherit);
--uirButtonColor: var(--rButtonColor);

    background-color: var(--uirButtonBackgroundColor);

    padding: var(--uirButtonPadding);

    border-width: var(--uirButtonBorderWidth);
    border-style: var(--uirButtonBorderStyle);
    border-color: var(--uirButtonBorderColor);

    cursor: pointer;

    font-family: var(--uirButtonFontFamily);
    font-size: var(--uirButtonFontSize);
/*    color: var(--uirButtonColor);*/
}



/* Remove the inner border and padding in Firefox. */



.r-button::-moz-focus-inner,

.r-button[type="button"]::-moz-focus-inner,

.r-button[type="reset"]::-moz-focus-inner,

.r-button[type="submit"]::-moz-focus-inner {

    border-style: none;

    padding: 0;

}
