<!DOCTYPE html>
<html lang="en">
    {% load static %}
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'letspy2k19/img/logo.png' %}"/>
    <link rel="mask-icon" type="" href="{% static 'letspy2k19/img/logo.png' %}" color="#111" />
    <title>LetsPy 2k19</title>
    <meta name="description" content="LetsPy is a two day Python ‘workathon’ (workshop/hackathon) aimed at introducing novice enthusiasts/students to the world of computer science and collaborative development.">
<meta name="author" content="Student Developers Society">
<meta name="keywords" content="letspy,letspy cochin,letspy sds,sds letspy,letspy 2019,thinkerhub letspy,kochipython letspy,python kochi,SDS, StuDevSoc, Student Developers Society, SDS Cochin, StuDevSoc Kochi, Student Developers Society Kochi, SDS community, StuDevSoc Team, Student Developers" />


    <!-- hamburger/Menu-->
    <link rel="stylesheet" href="{% static 'letspy2k19/css/hamburger.css' %}">
    <!-- Header-->
    <link rel="stylesheet" href="{% static 'letspy2k19/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'coc/css/footer.css' %}">

    <link rel="stylesheet" href="{% static 'coc/css/forms.css' %}">


    <link rel="stylesheet" href="{% static 'letspy2k19/css/box.css' %}">

    <link rel="stylesheet" href="{% static 'letspy2k19/css/accordion.css' %}">

    <link rel="stylesheet" href="{% static 'letspy2k19/css/slider.css' %}">

<link rel="stylesheet" href="{% static 'letspy2k19/css/img.css' %}">

    </head>
    <body translate="no">


    <!-- Header-->
    <header>
      <!--<img src="logo_wob.png" style="max-width: 100%;
      height: 80%;">-->
      <h4 id="p1">LetsPy</h4>

    </header>
<div id="codeofconduct"></div>


    <!-- Header end-->
    <div id="contact"></div>
    <div id="box">
      <br><br><br>
        <center>  <h4>Query Submitted Succesfully ! </h4></center>


    </div>


            <div id="box">


              <h5 style="text-align:left;color: #646464" >Powerd by SDS <span style="float:right;">Made by SDS</span></h5>
              <br><br>
              <h6 align='center' id ="flinks"><a href="https://letspy.in/code-of-conduct/#codeofconduct">Code of Conduct</a> <a href="https://letspy.in/#faq" onclick="location.hash='faq'; location.reload();">FAQ</a> <a href="https://letspy.in/code-of-conduct/#report"> Report Harassments</a></h6>
              <h4 align='center'>With Love Django</h4>
              <br>
                          </div>

<div id="contact"></div>

    <!-- hamburger/Menu-->
    <div class="menu">
      <nav class="menu__nav">
        <ul class="r-list menu__list">
          <li class="menu__group">
            <a href="https://letspy.in/#home" onclick="location.hash='home'; location.reload();" class="r-link menu__link">LetsPy 2019</a>
          </li>
          <li class="menu__group">
            <a href="https://letspy.in/#join" onclick="location.hash='join'; location.reload();" class="r-link menu__link">Registration</a>
          </li>
          {% for menu in menus %}
          <li class="menu__group">
            <a href={{ menu.tagWithHash }} onclick='location.hash={{ menu.tag }}; location.reload();' class="r-link menu__link"> {{ menu.menuname }} </a>
          </li>
          {% endfor %}
          <li class="menu__group">
            <a href="https://letspy.in/#faq" onclick="location.hash='faq'; location.reload();" class="r-link menu__link">FAQ's</a>
          </li>
          <li class="menu__group">
            <a href="https://letspy.in/#sponsors" onclick='location.hash="sponsors"; location.reload();' class="r-link menu__link">Sponsorship</a>
          </li>

          <li class="menu__group">
            <a href="https://letspy.in/code-of-conduct/#codeofconduct" class="r-link menu__link">Code of Conduct</a>
          </li>
          <li class="menu__group">
            <a href="https://letspy.in/code-of-conduct/#report" class="r-link menu__link">Report Harassments</a>
          </li>
          <li class="menu__group">
            <a href="#send" onclick="location.hash='send'; location.reload();" class="r-link menu__link">Reach Us</a>
          </li>

        </ul>
      </nav>
      <div class="hamburger">
        <button class="r-button hamburger__button menu__toggle">
          <span class="hamburger__label">Open menu</span>
        </button>
      </div>
    </div>
    <script src="{% static 'letspy2k19/js/accordion.js' %}"></script>
    <!-- hamburger/Menu end-->
    <script id="rendered-js" src="{% static 'letspy2k19/js/hamburger.js' %}"></script>
    <script src="{% static 'letspy2k19/js/jquery.min.js' %}"></script>
    <script id="rendered-js" src="{% static 'letspy2k19/js/header.js' %}"></script>
  </body>
</html>
