#flinks a:link,#flinks a:visited {
  background-color: #4B8BBE;
  color: white;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

#flinks a:hover,#flinks a:active {
  background-color: #306998;
}
