<!DOCTYPE html>
<html lang="en">
    {% load static %}
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'letspy2k19/img/logo.png' %}"/>
    <link rel="mask-icon" type="" href="{% static 'letspy2k19/img/logo.png' %}" color="#111" />
    <title>LetsPy 2k19</title>
    <meta name="description" content="LetsPy is a two day Python ‘workathon’ (workshop/hackathon) aimed at introducing novice enthusiasts/students to the world of computer science and collaborative development.">
<meta name="author" content="Student Developers Society">
<meta name="keywords" content="letspy,letspy cochin,letspy sds,sds letspy,letspy 2019,thinkerhub letspy,kochipython letspy,python kochi,SDS, StuDevSoc, Student Developers Society, SDS Cochin, StuDevSoc Kochi, Student Developers Society Kochi, SDS community, StuDevSoc Team, Student Developers" />


    <!-- hamburger/Menu-->
    <link rel="stylesheet" href="{% static 'letspy2k19/css/hamburger.css' %}">
    <!-- Header-->
    <link rel="stylesheet" href="{% static 'letspy2k19/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'coc/css/footer.css' %}">

    <link rel="stylesheet" href="{% static 'coc/css/forms.css' %}">


    <link rel="stylesheet" href="{% static 'letspy2k19/css/box.css' %}">

    <link rel="stylesheet" href="{% static 'letspy2k19/css/accordion.css' %}">

    <link rel="stylesheet" href="{% static 'letspy2k19/css/slider.css' %}">

<link rel="stylesheet" href="{% static 'letspy2k19/css/img.css' %}">

    </head>
    <body translate="no">


    <!-- Header-->
    <header>
      <!--<img src="logo_wob.png" style="max-width: 100%;
      height: 80%;">-->
      <h4 id="p1">LetsPy</h4>

    </header>



    <!-- Header end-->

      <div id="codeofconduct"></div>
      <div id="box" >
        <br><br><br>
        <center><h3 >Code of Conduct for LetsPy 2k19</h3></center>

        <br><br><br>
        {% for coc in cocs %}
        <h5 >{{ coc.title }}</h5>
        {{ coc.text|safe }}
        <p>Last Revision : {{ coc.coc_date }}</p>
        {% endfor %}

      </div>

<div id="report"></div>
<div id="box">
    <center>  <h4>Report a Harassment/Spam </h4></center>
    {% block content %}

    {% load widget_tweaks %}

<form action="" method="post">
    {% csrf_token %}
      <div class="row">
        <div class="col-25">
          <label for="name">Name</label>
        </div>
        <div class="col-75">
          {% render_field form.name class+="form-control" placeholder="your name eg:Jhon Doe/Jane Doe" %}
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="email">Email</label>
        </div>
        <div class="col-75">
          {% render_field form.email class+="form-control" placeholder="valid mail for sharing status regarding your problem eg: doe@mailprovider.com" %}
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="subject">Subject</label>
        </div>
        <div class="col-75">
          {% render_field form.subject class+="form-control" placeholder="short description eg: xyz harassing me at event venue / on social media" %}
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="message">Message</label>
        </div>
        <div class="col-75">
          {% render_field form.message class+="form-control" placeholder="more details regarding your issue" %}
        </div>
      </div>

      <div class="row">
          <input type="submit" value="Report">
      </div>

            </form>



    {% endblock %}




</div>
            <div id="box">


              <h5 style="text-align:left;color: #646464" >Powerd by SDS <span style="float:right;">Made by SDS</span></h5>
              <br><br>
              <h6 align='center' id ="flinks"><a href="https://letspy.in/code-of-conduct/#codeofconduct">Code of Conduct</a> <a href="https://letspy.in/#faq"> FAQ </a> <a href="https://letspy.in/code-of-conduct/#report"> Report Harassments</a></h6>
              <h4 align='center'>With Love Django</h4>
              <br>


<div id="contact"></div>

    <!-- hamburger/Menu-->
    <div class="menu">
      <nav class="menu__nav">
        <ul class="r-list menu__list">
          <li class="menu__group">
            <a href="https://letspy.in/#home" onclick="location.hash='home'; location.reload();" class="r-link menu__link">LetsPy 2019</a>
          </li>
          <li class="menu__group">
            <a href="https://letspy.in/#join" onclick="location.hash='join'; location.reload();" class="r-link menu__link">Registration</a>
          </li>
          {% for menu in menus %}
          <li class="menu__group">
            <a href={{ menu.tagWithHash }} onclick='location.hash={{ menu.tag }}; location.reload();' class="r-link menu__link"> {{ menu.menuname }} </a>
          </li>
          {% endfor %}
          <li class="menu__group">
            <a href="https://letspy.in/#faq" onclick="location.hash='faq'; location.reload();" class="r-link menu__link">FAQ's</a>
          </li>
          <li class="menu__group">
            <a href="https://letspy.in/#sponsors" onclick='location.hash="sponsors"; location.reload();' class="r-link menu__link">Sponsorship</a>
          </li>

          <li class="menu__group">
            <a href="#codeofconduct" onclick="location.hash='codeofconduct'; location.reload();" class="r-link menu__link">Code of Conduct</a>
          </li>
          <li class="menu__group">
            <a href="#report" onclick="location.hash='report'; location.reload();"class="r-link menu__link">Report Harassments</a>
          </li>
          <li class="menu__group">
            <a href="https://letspy.in/contact/" class="r-link menu__link">Reach Us</a>
          </li>

        </ul>
      </nav>
      <div class="hamburger">
        <button class="r-button hamburger__button menu__toggle">
          <span class="hamburger__label">Open menu</span>
        </button>
      </div>
    </div>
    <script src="{% static 'letspy2k19/js/accordion.js' %}"></script>
    <!-- hamburger/Menu end-->
    <script id="rendered-js" src="{% static 'letspy2k19/js/hamburger.js' %}"></script>
    <script src="{% static 'letspy2k19/js/jquery.min.js' %}"></script>
    <script id="rendered-js" src="{% static 'letspy2k19/js/header.js' %}"></script>
  </body>
</html>
